* {
    border: none;
    border-radius: 0;
    font-family: "MesloLGS NF";
    font-weight: 400;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    padding-top: 3px;
    font-weight: bold;
}

#workspaces {
    padding: 0 3px;
    margin-right: 10px;
}

#workspaces button {
    padding: 0 3px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

    #workspaces button:hover {
        box-shadow: none; /* Remove predefined box-shadow */
        text-shadow: none; /* Remove predefined text-shadow */
        background: none; /* Remove predefined background color (white) */
        transition: none; /* Disable predefined animations */
    }

#workspaces button.focused {
    color: #eeeeee;
    border-top: 4px solid #c9545d;
}

    #workspaces button.focused:hover {
        box-shadow: none; /* Remove predefined box-shadow */
        text-shadow: none; /* Remove predefined text-shadow */
        background: none; /* Remove predefined background color (white) */
        transition: none; /* Disable predefined animations */
    }

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #custom-hostname {
    padding: 0 3px;
    margin: 0 2px;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
    margin-left: 5px;
}